.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-style: dotted;
    border-color: black;
    background-color: #65e823;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
    border: 2px solid #030300;
    background-color: #cbeb14;
    padding: 10px;
    height: 700px;
    width: 700px;
  }
  
  .card {
    width: 150px;
    height: 150px;
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #ff5722;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    transform: rotateY(180deg);
  }
  
  .card-inner.flipped {
    transform: rotateY(180deg);
  }
  
  .timer {
    margin-top: 20px;
    font-size: 20px;
  }
  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    width: 250px;
  }
  
  .restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .restart-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .restart-button:active {
    background-color: #004387;
  }
  