.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(15, 11, 11);
}

.App-link {
  color: #61dafb;
}

